:root {
  --dark-bg-color: #141c2f;
  --dark-container-color: #1f2a48;
  --light-bg-color: #f5f8ff;
  --light-container-color: #ffff;
  --color-special: #0079ff;
  --light-grey: #d3d3d3;
}
body {
  font-size: 1.2rem;
}
.main-heading {
  font-family: "Noto Sans Mono", monospace;
}
