:root {
  --dark-bg-color: #141c2f;
  --dark-container-color: #1f2a48;
  --light-bg-color: #f5f8ff;
  --light-container-color: #ffff;
  --color-special: #0079ff;
  --light-grey: #d3d3d3;
}
body {
  background-color: var(--dark-bg-color);
  color: white;
  font-family: "Noto Sans Mono", monospace;
  font-size: 1.2rem;
}
main {
  margin-left: 20rem;
  margin-top: 10rem;
}
.main-heading {
  margin-bottom: 1.4rem;
}
.search-field {
  align-items: center;
  background-color: var(--dark-container-color);
  border-radius: 1rem;
  display: flex;
  width: max-content;
}
.search-icon {
  font-size: 3.4rem;
  color: var(--color-special);
  margin-left: 2.8rem;
}
.input-field {
  background-color: transparent;
  border: none;
  color: #ffff;
  margin-left: 1.2rem;
  outline: none;
}
.input-field::placeholder {
  color: #ffff;
}
.btn-submit {
  background-color: var(--color-special);
  border-radius: 0.6rem;
  color: #fff;
  cursor: pointer;
  height: 4.6rem;
  margin-left: 6rem;
  margin: 0.8rem 0.8rem;
  margin-left: 16rem;
  width: 10rem;
}

.container {
  margin-top: 3rem;
  border-radius: 1rem;
  background-color: var(--dark-container-color);
  padding: 2rem;
}
.container-header {
  display: flex;
  gap: 4rem;
}
.container-header__right {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.person-userName {
  grid-column-start: 1;
  grid-column-end: 3;
}
.person-bio {
  grid-column-start: 1;
  grid-column-end: 3;
}
.person-photo {
  height: 8rem;
  border-radius: 100%;
}
