:root {
  --dark-bg-color: #141c2f;
  --dark-container-color: #1f2a48;
  --light-bg-color: #f5f8ff;
  --light-container-color: #ffff;
  --color-special: #0079ff;
  --light-grey: #d3d3d3;
}
body {
  background-color: var(--dark-bg-color);
  color: white;
  font-family: "Noto Sans Mono", monospace;
  font-size: 1.2rem;

  display: flex;
  justify-content: center;
}
main {
  /* margin-left: 20rem; */
  margin-top: 10rem;
}
.main-heading {
  margin-bottom: 1.4rem;
}
.search-field {
  align-items: center;
  background-color: var(--dark-container-color);
  border-radius: 1rem;
  display: flex;
  width: 70rem;
}
.search-icon {
  font-size: 3.4rem;
  color: var(--color-special);
  margin-left: 2.8rem;
}
.input-field {
  background-color: transparent;
  border: none;
  color: #ffff;
  margin-left: 1.2rem;
  outline: none;
  /* border: 2px solid red; */
  height: 4rem;
  width: 55rem;
}
.input-field::placeholder {
  color: #ffff;
}

.btn-submit {
  background-color: var(--color-special);
  border-radius: 0.6rem;
  color: #fff;
  cursor: pointer;
  height: 4.6rem;
  margin: 0.8rem 0.8rem;
  /* margin-left: 35rem; */
  width: 10rem;
}

.container {
  margin-top: 3rem;
  border-radius: 1rem;
  background-color: var(--dark-container-color);
  width: 66rem;
  padding: 2rem;
  margin-bottom: 4rem;

  display: none;
}
.container-header {
  display: flex;
  gap: 4rem;
}
.container-header__right {
  display: grid;
  grid-template-columns: 0.7fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.container-header__right > * {
  margin: 0.4rem 0;
}
.person-userName {
  /* grid-column-start: 1;
  grid-column-end: 3; */
  color: var(--color-special);
}
.person-bio {
  grid-column-start: 1;
  grid-column-end: 3;
}
.person-photo {
  height: 8rem;
  border-radius: 100%;
}

.container-detail {
  display: flex;
  justify-content: center;
  gap: 4rem;

  margin-top: 4rem;
  background-color: var(--dark-bg-color);
  padding: 2rem;
  border-radius: 1rem;
  width: 30rem;
  padding: 2rem 8rem;
  margin-left: 50%;
  transform: translateX(-50%);
}
.detail-count {
  text-align: center;
  margin-top: 0.8rem;
  font-weight: 700;
}

.container-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  margin-top: 2rem;
  margin-left: 50%;
  transform: translateX(-50%);
}
.container-info__flex {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0.8rem 0;
}
.icon-twitter {
  font-size: 2rem;
}

.container-error{
  display: flex;
  gap: 1.5rem;
}
.error-msg {
  align-self: center;
  font-size: 2.8rem;
  color: #616ea7
}
.error-img {
  width: 60%
}
@media screen and (max-width: 520px) {
  body {
    display: block;
    margin-left: 4rem;
  }
  main {
    margin-top: 2rem;
  }
  .container {
    width: 32rem;
  }
  .search-field {
    width: 36rem;
  }
  .container {
    padding: 2rem;
  }
  .search-icon {
    margin-left: 0.8rem;
  }
  .btn-submit {
    width: 18rem;
  }
  .person-userName {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .person-bio {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: -7rem;
    margin-top: 3.5rem;
    width: 40ch;
    line-height: 1.4;
  }
  .container-detail {
    width: 17rem
  }
  .container-info {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr ;
    margin-left: 35%;
  }
}
@media screen and (max-width:440px) {
  .search-field  {
    width: 30rem
  }
  .container {
    width: 26.5rem;
  }
  .container-detail {
    width: 12rem;
  }
  .person-bio {
    margin-left: -12rem;
  }
}

